<!DOCTYPE html>
<html>
<head>
    <meta charset= UTF-8> 
    <title>Login And Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet">
    <link rel="stylesheet" href="/static/style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </head>
    <body>
        <div class="container mt-5">
          <div class="row d-flex jistify-content-center">
            <div class="col-md-6">
                <p>
                    <h2 style="color: #f51f8a;">Register</h2>
                </p>
              <div class="card px-5 py-5" id="form-val">
                <div class="form-data" v-if="!submitted">
                    <div class="forms-input mb-4"><span>Name</span>
                    <input autocomplete="off" type="text" v-model="text" v-bind:class="{'form-control':true}"></div>

                  <div class="forms-input mb-4"><span>Email</span>
                    <input autocomplete="off" type="text" v-model="email" v-bind:class="{'form-control':true, 'is-invalid' : !validEmail(email) && emailBlured}"
                    v-on:blur="emailBlured = true">
                    <div class="invalid-feedback">A valid email is required</div>
                    </div>

                    <div class="forms-input mb-4"><span>Password</span>
                      <input autocomplete="off" type="password" v-model="password" v-bind:class="{'form-control':true, 'is-invalid' : !validPassword(password) && passwordBlured}"
                      v-on:blur="passwordBlured = true">
                  
                    <div class="invalid-feedback">Password must be 8 characters</div>
                    </div>

                    
                    <div class="forms-input mb-4"><span>Phone</span>
                    <input autocomplete="off" type="text" v-model="text" v-bind:class="{'form-control':true}"></div>
                    
                 <div class="mb-3">
                    <button v-on:click.stop.prevent="submit" class="btn btn-dark w-100">Sign Up</button></div>
                    I have an account  <a href="https://tech.trekgroup.tech/login" class="btn btn-default" style="color: #f51f8a;">Login</a>
                 
                 </div>
                  <div class="success-data" v-else>
                    <div class="text-center d-flex flex-column">
                        <i class="bx bxs-badge-check"></i>
                        <span class="text-center fs-1">You have Registered <br> Succesfully</span></div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
